block vars


mixin markdown(text)
    | !{ self.md(text) }


doctype html
html(lang=self.locale)
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:url', content='https://www.memoriaal.ee' + self.path)
        meta(property='og:title', content=self.title ? self.title + ' · ' + self.siteTitle : self.siteTitle)
        meta(property='og:image', content='https://www.memoriaal.ee/memoriaal-og.jpg')

        title= self.title && self.title !== self.siteTitle ? self.title + ' · ' + self.siteTitle : self.siteTitle

        link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='icon', href='/favicon.ico')
        link(rel='manifest', href='/site.webmanifest')

        link(href='https://cloud.typography.com/6935656/6118392/css/fonts.css', rel='stylesheet', type='text/css')
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/style.css', rel='stylesheet')

        block style

        script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-260765-40')
        script.
            try {
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-260765-40');
            } catch (error) {
                console.log('Google Analytics not available');
            }

        script(defer, data-domain='memoriaal.ee', src='https://plausible.io/js/plausible.js')
        script.
            try {
                window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
                plausible('Host', { props: { host: window.location.host } })
            } catch (error) {
                console.log('Plausible analytics not available')
            }
    body
        block content
        //- include text.pug

        //- Add IE11 polyfill for older browsers (like SiteKiosk)
        script(src='/js/ie11-polyfill.js')
        script(src='/js/jquery-3.3.1.min.js')
        script(src='/script.js')

        block script
